.benchmarks .axis path,
.benchmarks .axis line {
        fill: none;
        stroke: grey;
        shape-rendering: crispEdges;
}

.benchmarks text {
    font-family: sans-serif;
    pointer-events: none;
    font-size: 10px;
}

.benchmarks .label {
        font-size: 12px;
}

.benchmarks .xaxis text {
        font-weight: bold;
        font-size: 11px;
}

.benchmarks rect.background {
    opacity: 0;
}
