.benchmarks .axis path,
.benchmarks .axis line {
        fill: none;
        stroke: grey;
        shape-rendering: crispEdges;
}

.benchmarks .label {
        font-family: sans-serif;
        font-size: 12px;
}
.benchmarks .axis text {
        font-family: sans-serif;
        font-size: 10px;
}

.benchmarks .xaxis text {
        font-weight: bold;
        font-size: 11px;
}

.benchmarks rect.background {
    fill: white;
}
